In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

df_user_train = pd.read_csv('../data/train/userProfile_train.csv')

In [3]:
df_user_train.info()
df_user_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40307 entries, 0 to 40306
Data columns (total 4 columns):
userid      40307 non-null int64
gender      15760 non-null object
province    36412 non-null object
age         4742 non-null object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB

         userid gender province  age
0  100000000013      男      NaN  60后
1  100000000111    NaN       上海  NaN
2  100000000127    NaN       上海  NaN
3  100000000231      男       北京  70后
4  100000000379      男       北京  NaN

In [4]:
df_user_train['gender'].value_counts()

女    8620
男    7140
Name: gender, dtype: int64

In [5]:
df_user_train['province'].value_counts()

上海     9760
北京     8301
广东     4784
江苏     2813
浙江     2447
四川     1310
湖北      741
辽宁      725
天津      722
福建      693
重庆      617
山东      510
湖南      334
陕西      323
广西      288
云南      242
黑龙江     234
河南      228
江西      214
安徽      206
河北      203
贵州      143
吉林      143
山西      108
内蒙古      79
甘肃       69
新疆       69
海南       61
宁夏       30
青海       11
西藏        4
Name: province, dtype: int64

In [6]:
df_user_train['age'].value_counts()

80后    1667
70后    1308
60后    1061
90后     621
00后      85
Name: age, dtype: int64

In [7]:
df_action_train = pd.read_csv('../data/train/action_train.csv')

In [8]:
df_action_train.info()
df_action_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1334856 entries, 0 to 1334855
Data columns (total 3 columns):
userid        1334856 non-null int64
actionType    1334856 non-null int64
actionTime    1334856 non-null int64
dtypes: int64(3)
memory usage: 30.6 MB

         userid  actionType  actionTime
0  100000000013           1  1474300753
1  100000000013           5  1474300763
2  100000000013           6  1474300874
3  100000000013           5  1474300911
4  100000000013           6  1474300936

In [9]:
df_action_train['actionType'].value_counts()

5    479227
1    384875
6    227223
3     78034
4     45386
2     44862
8     28779
7     28083
9     18387
Name: actionType, dtype: int64

In [10]:
df_order_train = pd.read_csv('../data/train/orderHistory_train.csv')

In [12]:
df_order_train.info()
df_order_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20653 entries, 0 to 20652
Data columns (total 7 columns):
userid       20653 non-null int64
orderid      20653 non-null int64
orderTime    20653 non-null int64
orderType    20653 non-null int64
city         20653 non-null object
country      20653 non-null object
continent    20653 non-null object
dtypes: int64(4), object(3)
memory usage: 1.1+ MB

         userid  orderid   orderTime  orderType city country continent
0  100000000013  1000015  1481714516          0   柏林      德国        欧洲
1  100000000013  1000014  1501959643          0  旧金山      美国       北美洲
2  100000000393  1000033  1499440296          0   巴黎      法国        欧洲
3  100000000459  1000036  1480601668          0   纽约      美国       北美洲
4  100000000459  1000034  1479146723          0  巴厘岛   印度尼西亚        亚洲

In [13]:
df_order_train['orderType'].value_counts()

0    17484
1     3169
Name: orderType, dtype: int64

In [14]:
df_feature_train = pd.read_csv('../data/train/orderFuture_train.csv')

In [15]:
df_feature_train.info()
df_feature_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40307 entries, 0 to 40306
Data columns (total 2 columns):
userid       40307 non-null int64
orderType    40307 non-null int64
dtypes: int64(2)
memory usage: 629.9 KB

         userid  orderType
0  100000000013          0
1  100000000111          0
2  100000000127          0
3  100000000231          0
4  100000000379          0

In [16]:
df_feature_train['orderType'].value_counts()

0    33682
1     6625
Name: orderType, dtype: int64

In [19]:
33682 / 6625

5.084075471698113

In [3]:
df_comment_train = pd.read_csv('../data/train/userComment_train.csv')

In [7]:
df_comment_train.info()
df_comment_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9863 entries, 0 to 9862
Data columns (total 5 columns):
userid              9863 non-null int64
orderid             9863 non-null int64
rating              9863 non-null float64
tags                6754 non-null object
commentsKeyWords    4092 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 385.4+ KB

         userid  orderid  rating                   tags     commentsKeyWords
0  100000000013  1000015     4.0                    NaN  ['很','简陋','太','随便']
1  100000000231  1000024     5.0              提前联系|耐心等候           ['很','细心']
2  100000000471  1000038     5.0                    NaN                  NaN
3  100000000637  1000040     5.0  主动热情|提前联系|举牌迎接|主动搬运行李                  NaN
4  100000000755  1000045     1.0                  未举牌服务                  NaN

In [14]:
def cnt(x):
    x = str(x)
    if x == 'nan':
        return 0
    cnts = x.count('|') + x.count(',') + 1
    return cnts

In [16]:
df_comment_train['commentsKeyWords'][:5].apply(cnt)

0    4
1    2
2    0
3    0
4    0
Name: commentsKeyWords, dtype: int64